{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}

{{ $packages := list
    "gcc"
    "clang"
    "libc++"
    "llvm"
    "mold"
    "rustup"
    "rust-analyzer"
    "sccache" -}}

#!/usr/bin/env bash

set -eufo pipefail

{{ range $packages -}}
sudo pacman -S --noconfirm --needed {{ . }}
{{ end -}}

{{ end -}}