{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}

{{ $packages := list
    "gcc"
    "mold"
    "rustup"
    "rust-analyzer"
    "sccache" -}}

#!/usr/bin/env bash

set -eufo pipefail

{{ range $packages -}}
sudo pacman -S --noconfirm --needed {{ . }}
{{ end -}}

rustup default nightly

# snippet manager in terminal
# https://github.com/out-of-cheese-error/the-way

{{ end -}}
