{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}

{{ $packages := list
    "openssh"
    "gnupg"
    "git-delta"
    "starship"
    "zoxide"
    "fzf"
    "fd"
    "eza"
    "ripgrep"
    "bat"
    "helix"
    "bash-completion"
    "run-parts"
    "less" -}}

#!/usr/bin/env bash

set -eufo pipefail

{{ range $packages -}}
sudo pacman -S --noconfirm --needed {{ . }}
{{ end -}}
{{ if .pass -}}
sudo pacman -S --noconfirm --needed gopass
{{ end -}}

{{ if eq .hosttype "desktop" -}}

{{ $fonts := list
    "noto-fonts"
    "noto-fonts-cjk"
    "noto-fonts-emoji"
    "ttf-nerd-fonts-symbols"
    "ttc-iosevka" -}}

{{ range $fonts -}}
sudo pacman -S --noconfirm --needed {{ . }}
{{ end -}}

{{ end -}}

{{ end -}}