[Unit]
Description=UxPlay AirPlay Receiver
After=network.target dbus.service

[Service]
Type=simple
ExecStart=uxplay -async -p 7000
Restart=on-failure
RestartSec=5
# StandardOutput=file:%h/uxplay.log

[Install]
WantedBy=default.target
