[Unit]
Description=AirPlay Unix mirroring server
Requires=avahi-daemon
After=avahi-daemon

[Service]
Type=simple
ExecStart=uxplay -p 7000
Restart=on-failure
# StandardOutput=file:%h/uxplay.log

[Install]
WantedBy=default.target
