{{- $choices  := list "desktop" "server" -}}
{{- $hosttype := promptChoiceOnce . "hosttype" "What type of host are you on" $choices "server" -}}

{{- $gitname  := promptStringOnce . "gitname"  "Git Name"                                    "oliver ding"             -}}
{{- $gitmail  := promptStringOnce . "gitmail"  "Git Mail Address"                            "oliverdding@outlook.com" -}}
{{- $gpgagent := promptBoolOnce   . "gpgagent" "Use gnupg agent instead of ssh agent? [Y/n]" false                     -}}
{{- $pass     := promptBoolOnce   . "pass"     "Clone pass store? [Y/n]"                     false                     -}}

[data]
  gitname  = {{- $gitname  | quote -}}
  gitmail  = {{- $gitmail  | quote -}}
  hosttype = {{- $hosttype | quote -}}
  gpgagent = {{- $gpgagent -}}
  pass     = {{- $pass -}}

encryption = "gpg"
[gpg]
  recipient = "oliverdding@outlook.com"
  args = [ "--quiet" ]

[diff]
  command = "delta"
  pager = "less"
  args = [ "--paging", "never" ]
  exclude = [ "dirs", "scripts" ]
