{{- $gitname := promptStringOnce . "gitname" "Git Name" -}}
{{- $gitmail := promptStringOnce . "gitmail" "Git Mail Address" -}}

[data]
  gitname = {{ $gitname | quote }}
  gitmail = {{ $gitmail | quote }}
