{{ if eq .chezmoi.os "linux" }}
# Load systemd user environment variables
export $(run-parts /usr/lib/systemd/user-environment-generators | sed '/:$/d; /^$/d' | xargs)
{{ end }}

{{ if eq .chezmoi.os "darwin" }}

{{ if .gpgagent }}
# https://wiki.archlinux.org/title/GnuPG#Set_SSH_AUTH_SOCK
unset SSH_AGENT_PID
export SSH_AUTH_SOCK="$HOME/.gnupg/S.gpg-agent.ssh"
{{ end }}

function cdf {
    cd "$(pfd)"
}

if [ -f /opt/homebrew/bin/brew ]
then
  # load homebrew
  eval "$(/opt/homebrew/bin/brew shellenv)"

  # https://docs.brew.sh/Shell-Completion#configuring-completions-in-bash
  if [[ -r "/opt/homebrew/etc/profile.d/bash_completion.sh" ]]
  then
    source "/opt/homebrew/etc/profile.d/bash_completion.sh"
  else
    for COMPLETION in "/opt/homebrew/etc/bash_completion.d/"*
    do
      [[ -r "${COMPLETION}" ]] && source "${COMPLETION}"
    done
  fi
else
  echo "failed to load homebrew env, please make sure that the homebrew is installed!"
fi
{{ end }}

# kubernetes configuration
export KUBECONFIG=$(echo $(ls $XDG_CONFIG_HOME/kube/config.d/* 2>/dev/null) | sed 's/ /:/g')

[[ -f ~/.bashrc ]] && . ~/.bashrc
