{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}

{{ $packages := list
    "bat" -}}

#!/usr/bin/env bash

set -eufo pipefail

sudo apt-get update
{{ range $packages -}}
sudo apt-get install -y {{ . }}
{{ end -}}

# https://github.com/sharkdp/bat?tab=readme-ov-file#on-ubuntu-using-apt
mkdir -p ~/.local/bin
ln -s /usr/bin/batcat ~/.local/bin/bat

{{ end -}}