{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

source $HOME/.bash_profile

sudo ln -sfn $HOMEBREW_PREFIX/opt/openjdk@11/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/openjdk-11.jdk

rustup default stable
{{ end -}}