{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

truncate -s 0 /etc/paths.d/50-homebrew
{{ range .paths.darwin -}}
echo '{{ . }}' >>/etc/paths.d/50-homebrew
{{ end -}}
{{ end -}}