{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

sudo -v

osascript -e 'tell application "System Preferences" to quit'

# Set computer name

sudo scutil --set ComputerName "omega"
sudo scutil --set HostName "omega"
sudo scutil --set LocalHostName "omega"
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string "omega"

# Dock

## icon size
defaults write com.apple.dock "tilesize" -int "36"

## enable auto hide
defaults write com.apple.dock "autohide" -bool "true"

## disable animation
defaults write com.apple.dock "autohide-time-modifier" -float "0"

## disable autohide delay
defaults write com.apple.dock "autohide-delay" -float "0"

## disable recents
defaults write com.apple.dock "show-recents" -bool "false"

## set minimize animation effect to scale
defaults write com.apple.dock "mineffect" -string "scale"

## group windows by app in app expose
defaults write "com.apple.dock" "expose-group-apps" -int 1

## enable swipe down with three finger to show app expose
defaults write "com.apple.dock" showAppExposeGestureEnabled -int 1

## disable window corner
defaults write "com.apple.dock" "wvous-br-corner" -int 1
defaults write "com.apple.dock" "wvous-br-modifier" -int 0

## fix size
defaults write com.apple.dock size-immutable -bool true

## fix location
defaults write com.apple.dock position-immutable -bool true

## fix icons
#defaults write com.apple.dock contents-immutable -bool true

# Finder

## show extensions
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "true"

## show path bar
defaults write com.apple.finder "ShowPathbar" -bool "true"

## set default view style to column view
defaults write com.apple.finder "FXPreferredViewStyle" -string "clmv"

## keep folders on top
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"

## search the current folder
defaults write com.apple.finder "FXDefaultSearchScope" -string "SCcf"

## empty bin items after 30 days
defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true"

## changing file extension warning
defaults write com.apple.finder "FXEnableExtensionChangeWarning" -bool "false"

## save to disk location
defaults write NSGlobalDomain "NSDocumentSaveNewDocumentsToCloud" -bool "false"

# Menubar

## disable flash clock time separators
defaults write com.apple.menuextra.clock "FlashDateSeparators" -bool "false"

## set time format to hh:mm:ss
defaults write com.apple.menuextra.clock "IsAnalog" -bool "false"
defaults write com.apple.menuextra.clock "Show24Hour" -bool "true"
defaults write com.apple.menuextra.clock "ShowDate" -int 2
defaults write com.apple.menuextra.clock "ShowDayOfWeek" -bool "false"
defaults write com.apple.menuextra.clock "ShowSeconds" -bool "true"

# Keyboard

## disable fn key
defaults write "Apple Global Domain" com.apple.keyboard.fnState -int 1

## disable press-and-hold
defaults write NSGlobalDomain "ApplePressAndHoldEnabled" -bool "false"

## increase key repeat rate
defaults write NSGlobalDomain "KeyRepeat" -int 1
defaults write NSGlobalDomain "InitialKeyRepeat" -int 10

# Mouse

## disable mouse acceration
defaults write NSGlobalDomain com.apple.mouse.linear -bool "true"

## speed
defaults write NSGlobalDomain com.apple.mouse.scaling -float "0.6875"

# Trackpad

## disable nature scrolling
defaults write "Apple Global Domain" "com.apple.swipescrolldirection" 0

# Mission control

## disable rearrange automatically
defaults write com.apple.dock "mru-spaces" -bool "false"

# Windows Management

## enable click-and-drag a window from everywhere with ctrl + cmd, see also: https://www.reddit.com/r/MacOS/comments/k6hiwk/keyboard_modifier_to_simplify_click_drag_of/
defaults write -g NSWindowShouldDragOnGesture -bool true

# GPG Pinentry Mac

## disable save in keychain by default
defaults write org.gpgtools.common UseKeychain NO

# Power Management
## see also: https://liam.page/2020/07/26/change-hibernatemode-to-save-battery-on-macOS/

## disable tcp keepalive on battery
sudo pmset -b tcpkeepalive 0

## decrease standby delay on battery
sudo pmset -b standbydelay 14400

## decrease autopoweroff delay on battery
sudo pmset -b autopoweroffdelay 14400

# Build bat cache

bat cache --build

{{ end -}}
