{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

sudo truncate -s 0 /etc/paths.d/50-homebrew
{{ range .paths.darwin -}}
echo '{{ . }}' | sudo tee -a /etc/paths.d/50-homebrew > /dev/null
{{ end -}}
{{ end -}}
