{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

# Install homebrew, see also: https://brew.sh/
if [ ! -f /opt/homebrew/bin/brew ]
then
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

eval "$(/opt/homebrew/bin/brew shellenv)"

{{- if .pass }}
brew install gnupg pinentry
{{ if .gpgagent }}
brew install pinentry-mac
{{ end }}
{{- end }}
{{ end -}}
