{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

sudo ln -sfn $HOMEBREW_PREFIX/opt/openjdk@11/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/openjdk-11.jdk

rustup default stable
{{ end -}}