[branch]
	autosetuprebase = always

[interactive]
	diffFilter = delta --color-only

# https://github.com/folke/tokyonight.nvim/blob/main/extras/delta/tokyonight_night.gitconfig
[delta "tokyonight"]
	minus-style                   = syntax "#37222c"
	minus-non-emph-style          = syntax "#37222c"
	minus-emph-style              = syntax "#713137"
	minus-empty-line-marker-style = syntax "#37222c"
	line-numbers-minus-style      = "#914c54"
	plus-style                    = syntax "#20303b"
	plus-non-emph-style           = syntax "#20303b"
	plus-emph-style               = syntax "#2c5a66"
	plus-empty-line-marker-style  = syntax "#20303b"
	line-numbers-plus-style       = "#449dab"
	line-numbers-zero-style       = "#3b4261"

[delta]
	features     = tokyonight
	side-by-side = true
	line-numbers = true
	navigate     = true
	hyperlinks   = true

[core]
	autocrlf       = input
	excludesfile   = ~/.config/git/ignore
	untrackedCache = true
	pager          = delta
{{- if eq .chezmoi.os "linux" }}
	editor         = helix
{{- else if eq .chezmoi.os "darwin" }}
	editor         = hx
{{- else }}
	editor         = nvim
{{- end }}

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[merge]
	conflictstyle = diff3

[diff "gpg"]
	binary   = true
	textconv = gpg --decrypt --quiet --yes --compress-algo=none --no-encrypt-to --batch --use-agent

[push]
	default         = current
	autoSetupRemote = true

[rebase]
	autostash  = true
	autosquash = true

[user]
	useConfigOnly = true

[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true

[rerere]
	enabled = true

[column]
	ui = auto

[branch]
	sort = committerdate
