[branch]
	autosetuprebase = always

[interactive]
	diffFilter = delta --color-only

# see also: https://github.com/catppuccin/delta/blob/main/catppuccin.gitconfig
[delta "catppuccin-macchiato"]
	blame-palette = "#24273a #1e2030 #181926 #363a4f #494d64"
	commit-decoration-style = "#6e738d" bold box ul
	dark = true
	file-decoration-style = "#6e738d"
	file-style = "#cad3f5"
	hunk-header-decoration-style = "#6e738d" box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#a5adcb"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#6e738d"
	line-numbers-minus-style = bold "#ed8796"
	line-numbers-plus-style = bold "#a6da95"
	line-numbers-right-style = "#6e738d"
	line-numbers-zero-style = "#6e738d"
	# 25% red 75% base
	minus-emph-style = bold syntax "#563f51"
	# 10% red 90% base
	minus-style = syntax "#383143"
	# 25% green 75% base
	plus-emph-style = bold syntax "#455450"
	# 10% green 90% base
	plus-style = syntax "#313943"
	map-styles = \
		bold purple => syntax "#4d4569", \
		bold blue => syntax "#3e4868", \
		bold cyan => syntax "#3f5364", \
		bold yellow => syntax "#575253"
	# Should match the name of the bat theme
	syntax-theme = Catppuccin Macchiato

[delta]
	features     = catppuccin-macchiato
	side-by-side = true
	line-numbers = true
	navigate     = true
	hyperlinks   = true

[core]
	autocrlf       = input
	excludesfile   = ~/.config/git/ignore
	untrackedCache = true
	pager          = delta
{{- if eq .chezmoi.os "linux" }}
	editor         = helix
{{- else if eq .chezmoi.os "darwin" }}
	editor         = hx
{{- else }}
	editor         = nvim
{{- end }}

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[merge]
	conflictstyle = diff3

[diff "gpg"]
	binary   = true
	textconv = gpg --decrypt --quiet --yes --compress-algo=none --no-encrypt-to --batch --use-agent

[push]
	default         = current
	autoSetupRemote = true

[rebase]
	autostash  = true
	autosquash = true

[user]
	useConfigOnly = true

[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true

[rerere]
	enabled = true

[column]
	ui = auto

[branch]
	sort = committerdate
