[include]
	path = ~/.config/git/common

[commit]
	gpgsign = {{ .gpgagent }}

[tag]
	gpgsign = {{ .gpgagent }}

[user]
	name = {{ .gitname }}
	email = {{ .gitmail }}
{{- if .gpgagent }}
	signingkey = 8DCF873C32DE2E45!
{{- end }}

{{- if and (eq .chezmoi.os "linux") (eq .hosttype "desktop" ) }}
[credential]
	helper = with-kwallet
{{- end }}
