{{- if eq .chezmoi.os "linux" }}
[include]
	path = ~/.config/git/common
{{- else }}
[include]
	path = ~/Library/Application Support/git/common
{{- end }}

[commit]
	gpgsign = {{ .gpgagent }}

[tag]
	gpgsign = {{ .gpgagent }}

[user]
	name = {{ .gitname }}
	email = {{ .gitmail }}
{{- if .gpgagent }}
	signingkey = 8DCF873C32DE2E45!
{{- end }}

{{- if and (eq .chezmoi.os "linux") (eq .hosttype "desktop" ) }}
[credential]
	helper = with-kwallet
{{- end }}

{{- if .work }}
[url "git@git.code.oa.com:"]
	insteadOf = https://git.code.oa.com/
	insteadOf = http://git.code.oa.com/
[url "git@git.woa.com:"]
	insteadOf = https://git.woa.com/
	insteadOf = http://git.woa.com/
{{- end }}
