{{- if eq .chezmoi.hostname "tower" }}
{{-   include "dot_config/aconfmgr/files/etc/docker/daemon.tower.json" -}}
{{- else }}
{{-   include "dot_config/aconfmgr/files/etc/docker/daemon.default.json" -}}
{{- end }}